.nextflow*
work/*
report.*
timeline.*
.cache/*
.matplotlib/fontList.cache
.tmpdir_shm.*
failures/calQA.46865323.log
failures/calQA.46865327.log
failures/calQA.46865328.log
failures/imgQA.46865119.log
logs/*
results/occupancy.tsv
results/prep_stats.tsv
test/*.log
test/test.job
test/.cache/*
test/.casa/*
test/.matplotlib/*
test/logs/*
.astropy
.cache
.ipython
.local
.casa/**
nfwork/**
