params {
    hyperdrive = 'hyperdrive'
    birli = 'birli'
    giant_squid = 'giant-squid'
    jq = 'jq'
    obsids_path = 'obsids.csv'
    cal_params_path = 'cal_params.csv'
    asvo_api_key = ''
}
profiles {
    dug {
        singularity {
            cacheDir = '/data/curtin_mwaeor/singularity'
        }
        process {
            scratch = '$TMPDIR_SHM'
            executor = 'slurm'
            queue = 'curtin_mwaeor'
            cpus = 2
            withLabel:cpu {
                cpus = 24
            }
            withLabel: gpu {
                cpus = 24
                clusterOptions = 'features=a100x4'
            }
        }
        params {
            outdir = '/data/curtin_mwaeor/data'
            hyperdrive = '/data/curtin_mwaeor/sw/bin/hyperdrive'
            giant_squid = '/data/curtin_mwaeor/sw/bin/giant-squid'
            jq = '/data/curtin_mwaeor/sw/bin/jq'
            sourcelist = '/data/curtin_mwaeor/data/srclist_pumav3_EoR0LoBESv2_fixedEoR1pietro+ForA_phase1+2.yaml'
            beam_path = '/data/curtin_mwaeor/data/mwa_full_embedded_element_pattern.h5'
            cuda_compute = 100
        }
    }
    sirius {
        process {
            scratch = '/tmp/mwaeor'
            executor = 'local'
        }
        params {
            outdir = '/data/dev'
            hyperdrive = '/usr/local/bin/hyperdrive'
            sourcelist = '/data/dev/calibration/srclist_pumav3_EoR0LoBESv2_fixedEoR1pietro+ForA_phase1+2.txt'
            beam_path = '/data/dev/calibration/mwa_full_embedded_element_pattern.h5'
            cuda_compute = 75
        }
    }
}