params {
    hyperdrive = 'hyperdrive'
    birli = 'birli'
    giant_squid = 'giant-squid'
    jq = 'jq'
    obsids_path = 'obsids.csv'
    cal_params_path = 'cal_params.csv'
    asvo_api_key = 'EMPTY'
    cal_suffix = ''
}
profiles {
    dug {
        singularity {
            cacheDir = '/data/curtin_mwaeor/singularity'
        }
        process {
            scratch = true
            executor = 'slurm'
            queue = 'curtin_mwaeor'
            cpus = 2
            memory = '100G'
            withLabel:cpu {
                cpus = 24
            }
            withLabel: gpu {
                cpus = 32
                // clusterOptions = '--constraint=a100x4'
                clusterOptions = '--constraint=v100x4'
            }
        }
        params {
            outdir = '/data/curtin_mwaeor/data'
            hyperdrive = '/data/curtin_mwaeor/sw/bin/hyperdrive'
            birli = 'singularity exec --bind $PWD:/tmp --writable-tmpfs --pwd /tmp --no-home /data/curtin_mwaeor/sw/singularity/birli/birli_latest.sif /opt/cargo/bin/birli'
            giant_squid = '/data/curtin_mwaeor/sw/bin/giant-squid'
            jq = '/data/curtin_mwaeor/sw/bin/jq'
            sourcelist = '/data/curtin_mwaeor/data/srclist_pumav3_EoR0LoBESv2_fixedEoR1pietro+ForA_phase1+2.yaml'
            beam_path = '/data/curtin_mwaeor/data/mwa_full_embedded_element_pattern.h5'
            // cuda_compute = 80 // a100
            cuda_compute = 70 // v100
            num_gpus = 4
        }
    }
    sirius {
        process {
            scratch = '/tmp/mwaeor'
            executor = 'local'
        }
        params {
            outdir = '/data/dev'
            hyperdrive = '/usr/local/bin/hyperdrive'
            sourcelist = '/data/dev/calibration/srclist_pumav3_EoR0LoBESv2_fixedEoR1pietro+ForA_phase1+2.txt'
            beam_path = '/data/dev/calibration/mwa_full_embedded_element_pattern.h5'
            cuda_compute = 75
        }
    }
}