params {
    hyperdrive = 'hyperdrive'
    birli = 'birli'
    giant_squid = 'giant-squid'
    jq = 'jq'
    obsids_path = 'obsids.csv'
    asvo_api_key = 'EMPTY'
    // prep
    prep_time_res_s = 2
    prep_freq_res_khz = 40
    // qa
    flag_occupancy_threshold = 0.99
    // cal
    cal_suffix = ''
    dical_args_path = 'dical_args.csv'
    apply_args_path = 'apply_args.csv'
    // imaging
    img_suffix = ''
    img_size = 4096
    img_scale = '40asec'
    img_niter = 1000
    img_auto_threshold = 1
    img_auto_mask = 5
    img_mem = 100
    img_channels_out = '24'
}
profiles {
    dug {
        singularity {
            cacheDir = '/data/curtin_mwaeor/singularity'
        }
        executor {
            $slurm {
                queueSize = 20
                submitRateLimit = '1s'
            }
        }
        process {
            scratch = '$TMPDIR_SHM'
            executor = 'slurm'
            queue = 'curtin_mwaeor'
            cpus = 2
            memory = '110G'
            clusterOptions = '--constraint=knl'
            withLabel: cpu {
                cpus = 24
            }
            withLabel: gpu {
                cpus = 32
                // clusterOptions = '--constraint=a100'
                clusterOptions = '--constraint=v100'
            }
            withLabel: img {
                memory = "${params.img_mem}G"
                clusterOptions = '--constraint=clx'
            }
        }
        params {
            outdir = '/data/curtin_mwaeor/data'

            // sifs
            birli_sif = '/data/curtin_mwaeor/sw/singularity/birli/birli_mwaf.sif'
            mwa_qa_sif = '/data/curtin_mwaeor/sw/singularity/mwa_qa/mwa_qa_latest.sif'
            cotter_sif = '/data/curtin_mwaeor/sw/singularity/cotter/cotter_latest.sif'
            casa_sif = '/data/curtin_mwaeor/sw/singularity/casa/casa_latest.sif'

            // binaries
            hyperdrive = '/data/curtin_mwaeor/sw/bin/hyperdrive'
            birli = "singularity exec --bind \$PWD:/tmp --writable-tmpfs --pwd /tmp --home \$PWD --cleanenv ${params.birli_sif} /opt/cargo/bin/birli"
            giant_squid = '/data/curtin_mwaeor/sw/bin/giant-squid'
            jq = '/data/curtin_mwaeor/sw/bin/jq'
            wsclean = '/data/curtin_mwaeor/sw/bin/wsclean'
            casa = "singularity exec --bind \$PWD:/tmp --writable-tmpfs --pwd /tmp --home \$PWD --cleanenv ${params.casa_sif} /usr/bin/casa"
            ps_metrics = "/data/curtin_mwaeor/src/chips/src/ps_metrics"

            // calibration
            sourcelist = '/data/curtin_mwaeor/data/srclist_pumav3_EoR0LoBESv2_fixedEoR1pietro+ForA_phase1+2.yaml'
            beam_path = '/data/curtin_mwaeor/data/mwa_full_embedded_element_pattern.h5'
            // todo: can't determine this from nvidia-smi
            // cuda_compute = 80 // a100
            cuda_compute = 70 // v100
        }
    }
    sirius {
        process {
            scratch = '/tmp/mwaeor'
            executor = 'local'
        }
        params {
            outdir = '/data/dev'
            hyperdrive = '/usr/local/bin/hyperdrive'
            sourcelist = '/data/dev/calibration/srclist_pumav3_EoR0LoBESv2_fixedEoR1pietro+ForA_phase1+2.txt'
            beam_path = '/data/dev/calibration/mwa_full_embedded_element_pattern.h5'
            cuda_compute = 75
        }
    }
}